@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    width: 2px;
    background: rgb(113, 190, 113);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family:  'Poppins', sans-serif;
}

body{
    background-color: rgb(219, 219, 219);

}
.header{
    position: relative;
    display: flex;
    justify-content: center;
}

.welcome-section{
    position: absolute;
    left: 0;
    top: 45%;
    margin-left: 100px;
    width: 30%;
    color: rgb(25, 44, 25);
    text-shadow: 0px 5px 15px rgb(98, 110, 98);
    font-size: 20px;
    font-weight: 900;
    animation-name: up_down;
    animation-duration: 0.5s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes up_down{
    to{
        top: 46%;
    }
}

.header img{
    width: 100%;
    height: 550px;
    opacity: 70%;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    object-fit: cover;
}

.header .nav-list{
position: absolute;
top: 50px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #f0f0f0;
border-radius: 50px;
padding: 15px;
box-shadow: 0px 5px 10px #0d0d0d80;
}
.header .nav-list a{
margin: 0px 10px;
font-size: 17px;
font-weight: 600;
text-decoration: none;
color: #0d0d0d;
transition: 0.5s all;
}
